.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-clear);
    font-family: var(--default);
    font-weight: 700;
    font-size: 36px;
    color: #3b3b48;
}