:root {
    --light: #fff;
    --black: #000;
    --gray-clear: #9898a9;
    --gray-basic: #3b3b48;
    --gray-light: #3b3b4880;
    --gray-accent: #3b3b48a6;


    --default: "PT Root UI", sans-serif;
}